<html>
{% extends '/var/www/html/express/taskmangment/views/layout.html' %}
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
{% block css %}
<style>
    .error {
        color: red;
    }
</style>
{% endblock  %}

<body>


    {% block content %}
    {% include "alert_message.html" %}
    <div class="portlet box red" style="margin-top: 21px">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user-plus"></i> user role
            </div>
        </div>
        <div class="portlet-body form">
            <form action="/admin/user_role_data" method="POST"  id="myform">
                <div class="form-body">
                    <div class="form-group">
                        <label>user_role</label>
                        <input type="text" name="role" id="role" placeholder="user_role" class="form-control input-lg">
                    </div>
                    <div class="form-group ">
                        <label>policy</label>
                        <div class="addrow">
                        <input type="text" name="policy" class="form-control input-lg textfield" id="hobbies" placeholder="Enter your policy">
                        <button type="button" class="btn btn-danger button-ho">+</button>
                        </div>
                    </div>
                </div>
                <div class="form-actions right">
                    <input type="submit" value="SUBMIT" class="btn red" id="button">
                </div>
            </form>
        </div>
    </div>
  
    {% endblock  %}


    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
    <script src="/javascripts/email_form_validation.js"></script>
   
    {% endblock  %}
</body>

</html>
