<html>
{% extends '/var/www/html/express/taskmangment/views/layout.html' %}
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
{% block css %}
<style>
    /* .error{
        color: red;
    } */
</style>
{% endblock  %}

<body>


    {% block content %}
    {% include "alert_message.html" %}
    <div class="portlet box blue" style="margin-top: 22px;height: 75%;">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i>edit user
            </div>

        </div>
        <div class="portlet-body form">
            <form action="/admin/edit_user_detailes/{{data.result.id}}" method="POST" class="form-horizontal form-bordered"
                id="myform">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>username</b> </label>
                        <div class="col-md-6">
                            <input type="text" name="user_name" value="{{data.result.user_name}}" id="name"
                                placeholder="user_name" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>Email</b> </label>
                        <div class="col-md-6">
                            <input type="text" name="email" value="{{data.result.email}}" id="email" placeholder="user_email"
                                class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>phone_number</b> </label>
                        <div class="col-md-6">
                            <input type="text" name="phone_no" value="{{data.result.phone_no}}" id="phone"
                                placeholder="user_phone_number" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>select role</b></label>
                        <div class="col-md-6">
                            <select class="form-control" name="role">
                                    {% for  user_role in data.edit %}
                                <option value="{{user_role.role}}">{{user_role.role}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>address</b> </label>
                        <div class="col-md-6">
                            <input id="autocomplete" value="{{data.result.address}}" placeholder="Enter your address"
                                onFocus="geolocate()" type="text" id="add" class="form-control" name="address">
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>salary</b> </label>
                        <div class="col-md-6">
                            <input type="text" name="salary" value="{{data.result.salary}}" id="salary"
                                placeholder="user_Salary" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3"><b></b> </label>
                        <div class="col-md-9">
                            <input type="submit" value="SUBMIT" class="btn btn-primary" id="button">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endblock  %}


    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script src="/javascripts/form.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTesZeG24_38qThSoUg6hXrEUdOpMRS84&libraries=places&callback=initAutocomplete"
        async defer></script>
    {% endblock  %}
</body>

</html>