<html>
{% extends '/var/www/html/express/taskmangment/views/layout.html' %}
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
{% block css %}
<style>
    /* .error{
        color: red;
    } */
</style>
{% endblock  %}

<body>

    {% block content %}
    {% include "alert_message.html" %}
    <div class="portlet box red" style="margin-top: 21px">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user-plus"></i>user role
            </div>
        </div>
        <div class="portlet-body form">
            <form action="/admin/edit_user_role_data/{{data.id}}" method="POST" id="myform">
                <div class="form-body">
                    <div class="form-group">
                        <label>user_role</label>
                        <input type="text" name="role" id="role" value="{{data.role}}" placeholder="user_role" class="form-control input-lg">
                    </div>
                    <div class="form-group addrow">
                        <label>policy</label>
                        {% for  user_role in data.policy %}
                        <input type="text" name="policy" value="{{user_role}}" class="form-control input-lg textfield" id="hobbies" placeholder="Enter your policy">
                        
                        {% endfor %}
                        <button type="button" class="btn btn-danger button-ho">+</button>
                    </div>
                </div>
                <div class="form-actions right">
                    <input type="submit" value="SUBMIT" class="btn red" id="button">
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="portlet box blue" style="margin-top: 22px;height: 52%;">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user-plus"></i>edit user role and policy
            </div>

        </div>
        <div class="portlet-body form">
            <form action="/admin/edit_user_role_data/{{data.id}}" method="POST" class="form-horizontal form-bordered"
                id="myform">
                <div class="form-body">
                    <div class="form-group">
                        <label class="control-label col-md-3"><b>user_role</b> </label>
                        <div class="col-md-6">
                            <input type="text" name="role" id="role" placeholder="user_role" value="{{data.role}}"
                                class="form-control">
                            <span class="help-block">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3"><b>policy</b></label>
                    <div class="col-md-6 addrow">
                        <input type="text" name="policy" value="{{data.policy}}" class="form-control textfield" id="hobbies" placeholder="Enter your Hobbies">
                        <button type="button" class="btn btn-danger button-ho">+</button>
                    </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3"><b></b></label>
                    <div class="col-md-9">
                        <input type="submit" value="SUBMIT" class="btn btn-primary" id="button">
                    </div>
                </div>

            </form>
        </div>
    </div> -->
    {% endblock  %}


    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script src="/javascripts/email_form_validation.js"></script>
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
    <script>
    // CKEDITOR.replace( 'police' );
    </script>
    {% endblock  %}
</body>

</html>