<html>
{% extends '/var/www/html/express/taskmangment/views/layout.html' %}
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
{% block css %}
{% endblock  %}

<body>

  
            {% block content %}
            <div class="portlet box red" style="margin-top: 21px">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-file"></i>upload csv file
                    </div>
                </div>
                <div class="portlet-body form">
                    <form action="/admin/upload_csv" id="myform" enctype="multipart/form-data" method="POST">
                        <div class="form-body">
                            <div class="form-group">
                                <label>upload_csv</label>
                                <input type="file" name="file" id="file" accept=".csv" class="form-control input-lg"onchange="return fileValidation()">
                            </div>
                        </div>
                        <div class="form-actions right">
                            <input type="submit" value="upload" class="btn red" id="button">
                        </div>
                    </form>
                </div>
            </div>
            {% endblock  %}
        

    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
 
    <script>
            $("#myform").validate({
                rules: {
                    file: {
                        required: true
                    }
                },
                messages: {
                    file: {
                        required: "please upload your file",
                        extension:'Please enter a value with a valid extension.'
                    }
                }
            })
            function fileValidation(){
    var fileInput = document.getElementById('file');
    var filePath = fileInput.value;
    var allowedExtensions = /(\.csv)$/i;
    if(!allowedExtensions.exec(filePath)){
        alert('Please upload file having extensions .csv');
        fileInput.value = '';
        return false;
    }else{
        //Image preview
        // if (fileInput.files && fileInput.files[0]) {
        //     var reader = new FileReader();
        //     reader.onload = function(e) {
        //         document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
        //     };
        //     reader.readAsDataURL(fileInput.files[0]);
        //}
    }
}
  
    </script>
    {% endblock  %}
</body>

</html>
