<!DOCTYPE html>
<html>
{% extends '/var/www/html/express/taskmangment/views/layout.html' %}

    {% block content %}
  
    {%if pic.role=="Admin"%}
    <div id="add_user">
    <a href="/admin/add_user"  class="btn red add-new">Add User </a>
    <a href="/admin/export"  class="btn red add-new">Export Csv</a>
    <a href="/admin/import"  class="btn red add-new">Import Csv</a>
</div>
    <div class="portlet box red" id="partial_box">
            <div class="portlet-title">
    {% else %}
    <div class="portlet box red" id="partial_box">
            <div class="portlet-title" id="user_role_hr">
    {% endif %}
            <div class="caption">
                <i class="fa fa-user"></i>USER DETAILES
            </div>
        </div>
        <div class="portlet-body">
                {% include "alert_message.html" %}
            <div id="show_table">
                    {%if pic.role=="Admin"%}
                {% include "user_table_detailes.html" %}
                 {%elseif pic.role=="hr"%}
                {% include "/var/www/html/express/taskmangment/views/hr/hr_user_detailes.html" %}
                {% else %}
                {% include "/var/www/html/express/taskmangment/views/user/user_table.html" %}
                {% endif %}
                {% include "/var/www/html/express/taskmangment/views/paginate.html" %}
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">User Details</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
    
                    <!-- Modal body -->
                    <div class="modal-body">
                    
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sr.no</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Role</th>
                                  
    
                                </tr>
                            </thead>
    
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td id="name">{{data.name}}</td>
                                    <td id="email" style="word-break: break-all;">{{data.email}}</td>
                                    <td id="number">{{data.number}}</td>
                                    <td id="role">{{data.role}}</td>
                                    
                                </tr>
    
    
                            </tbody>
                        </table>
                    </div>
    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
    
                </div>
            </div>
        </div>
   
    {% endblock  %}

    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script>
        $(document).on("click", ".pagination a", function () {
    var pageNo = $(this).attr("page");
    console.log(pageNo);
       $.ajax({
        url:'/admin/show_user',
        type: "get",
        data: {pageNo: pageNo},
        success: function (data) {
            window.location.href = '/admin/show_user?pageNo='+pageNo
         console.log(data);
        }
    });
});
$(document).on('click','.status', function () {
    // console.log(this)
    let element=this;
    let pagevalue = $(this).attr('page');
    let status = $(this).attr('status');
    console.log(status);
    let link = $(this).attr('link');
    
    var msg = '';
    if(status == 1)
    {
         msg ='Are you sure you want to Active status'
    }
    else{
        msg ='Are you sure you want to Deactive status'
    }
   
       // console.log(status,link)


bootbox.confirm({
    message: msg,
    buttons: {
        confirm: {
            label: 'Yes',
            className: 'btn-success'
        },
        cancel: {
            label: 'No',
            className: 'btn-danger'
        }
    },
    callback: function (result) {
        if(result){
            $.ajax({
            method: "PUT",
            url: link,
            data: {status:parseInt(status)},
            dataType: 'JSON',
            success: function (result) {
                if(result.status==200){
                      window.location.href = '/admin/show_user?pageNo='+pagevalue;
                    // if($(element).find('i').hasClass('active')){
                    //     $(element).find('i').removeClass('active').addClass('inactive');
                    // }else{
                    //     $(element).find('i').removeClass('inactive').addClass('active');
                    // }
                }
            
                 }
        });   
    
        }
    }
});
});

    </script>
    {% endblock  %}

</body>

</html>