<!DOCTYPE html>
<html>
{% extends '/var/www/html/express/taskmangment/views/layout.html' %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  
                            {% block content %}
                           
                        {% if pic.role=="Admin" %}
                        <div id="user_role">
                        <a href="/admin/add_user_role"  class="btn red add-new">Add user role </a>
                        </div>
                        <div class="portlet box red" id="partial_box" >
                                <div class="portlet-title">
                            {% else%}
                            <div class="portlet box red" id="partial_box ">
                                    <div class="portlet-title" id="user_role_hr">
                        {% endif %}
            
                
                    <div class="caption">
                        <i class="fa fa-cogs"></i>USER ROLE
                    </div>
                </div>
                <div class="portlet-body">
                        {% include "alert_message.html" %}
            <div id="show_table">
                    {% if pic.role=="Admin" %}
                  {% include "user_role_table.html" %}
                  {% else%}
                  {% include "/var/www/html/express/taskmangment/views/hr/hr_user_role.html" %}
                  {% endif %}
                 {% include "/var/www/html/express/taskmangment/views/paginate.html" %}
                </div>
        </div>
    </div>


    {% endblock  %}
   
   
    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script src="/javascripts/form.js"></script>
    <script src="/javascripts/pagination.js"></script>
    {% endblock  %}

</body>

</html>
