<html>
{% extends '/var/www/html/express/taskmangment/views/layout.html' %}
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
{% block css %}
<style>
        .error{
            color: red;
        }
    
    </style>
    {% endblock  %}
<body>
  
  
                    {% block content %}
                    {% include "/var/www/html/express/taskmangment/views/alert_message.html"%}
                    <div class="portlet box red" style="margin-top: 21px">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-file"></i>edit email template
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <form action="/email_template/email_edit/{{data.id}}" method="POST"  id="myform" >
                                <div class="form-body">
                                    <div class="form-group">
                                        <label>name</label>
                                        <input type="text" name="name" id="name" value="{{data.name}}" placeholder="Name" class="form-control input-lg">
                    
                                    </div>
                                    <div class="form-group">
                                        <label>subject</label>
                                        <input type="text" name="subject" id="subject" value="{{data.subject}}" placeholder="subject" class="form-control input-lg">
                                    </div>
                                    <div class="form-group">
                                        <label>content</label>
                                        <textarea name="content" id="content" rows="2" cols="80" class="form-control input-lg"> {{data.content}}  </textarea>   
                    
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <input type="submit" value="SUBMIT" class="btn red" id="button">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- <form action="/email_template/email_edit/{{data.id}}" method="POST" class="form-horizontal form-bordered" id="myform" style="margin-top: 5%;">
                        <div class="form-body">
                            <div class="form-group">
                                <label class="control-label col-md-3"> Name</label>
                                <div class="col-md-6">
                                        <input type="text" name="name" id="name" value="{{data.name}}" placeholder="Name" class="form-control">
                                    <span class="help-block">
                                   </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">subject</label>
                                <div class="col-md-6">
                                        <input type="text" name="subject" id="subject" value="{{data.subject}}" placeholder="subject" class="form-control">
                                    <span class="help-block">
                                   </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">content</label>
                                <div class="col-md-6">
                                        <textarea name="content" id="content" rows="2" cols="80"> {{data.content}}  </textarea>   
                                    <span class="help-block">
                                   </span>
                                </div>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-md-3"></label>
                                    <div class="col-md-9">
                                     <input type="submit" value="SUBMIT" class="btn btn-primary" id="button">
                                    </div>
                                </div>
                          
                        </div>
                    </form> -->
                    {% endblock  %}
          
  
    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
    <script src="/javascripts/email_form_validation.js"></script>
    <script>
        CKEDITOR.replace( 'content' );
      </script>
    {% endblock  %}
</body>

</html>

