<!DOCTYPE html>
<html>
{% extends '/var/www/html/express/taskmangment/views/layout.html' %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% block content %}
   
    <div id="add_role">
    <a href="/email_template/add_template"  class="btn red add-new">Add </a>
</div>
    <div class="portlet box red" id="partial_box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-envelope-square"></i>EMAIL TEMPLATE
            </div>
        </div>
        <div class="portlet-body">
                {% include "/var/www/html/express/taskmangment/views/alert_message.html" %}
            <div id="show_table">
                <table class="table table-hover" id="mytable">
                    <thead>
                        <tr>
                            <th>Sr.no</th>
                            <th>Name</th>
                            <th>subject</th>
                            <th>content</th>
                            <th>createdAt</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set index=data.sr %}
                        {% for  user_value in data %}
                        <tr>
                            <td>{{index}}</td>
                            <td>{{user_value.name}}</td>
                            <td>{{user_value.subject}}</td>
                            <td>{{user_value.content}}</td>
                            <td>{{user_value.created_at|date('Y-m-d')}}</td>
                            <td> <a href="/email_template/email_edit/{{user_value.id}}"class="btn "><i class="fa fa-edit fa-lg"aria-hidden="true"></i></a>
                                <a href="javascript:;" link="/email_template/email_del/{{user_value.id}}"class="deleteemail " page={{data.current}}><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        {% set index=index+1 %}
                        {% endfor %}
                    </tbody>
                </table>

                {% include "/var/www/html/express/taskmangment/views/paginate.html" %}
            </div>
        </div>
    </div>
    {% endblock  %}


    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/email_pagination.js"></script>
    {% endblock  %}

</body>

</html>