<!DOCTYPE html>
<html lang="en">
{% extends 'layout.html' %}
<!--<![endif]-->
<!-- BEGIN HEAD -->

<body>
	{% block content %}
	<!-- BEGIN HEADER -->
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->

		<!-- END SIDEBAR -->
		<!-- BEGIN CONTENT -->
		<!-- <div class="page-content-wrapper"> -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			<div class="row margin-top-20">
				<div class="col-md-12">
					<!-- BEGIN PROFILE SIDEBAR -->

					<!-- PORTLET MAIN -->

					<!-- SIDEBAR USERPIC -->
					<div class="profile-userpic">
						<img src="{{pic.profile_pic}}" class="img-circle" alt="profile_pic">
					</div>
					<!-- END SIDEBAR USERPIC -->
					<!-- SIDEBAR USER TITLE -->
					<div class="profile-usertitle">
						<div class="profile-usertitle-name">
							<b>
								<h1>{{pic.name}}</h1>
							</b>
						</div>
					</div>
					<!-- END SIDEBAR USER TITLE -->

					<!-- END PORTLET MAIN -->

					<!-- END BEGIN PROFILE SIDEBAR -->
					<!-- BEGIN PROFILE CONTENT -->
					<div class="profile-content">
						<div class="row">
							<div class="col-md-12">
								<div class="portlet light">
									<div class="portlet-title tabbable-line">
										<div class="caption caption-md">
											<i class="icon-globe theme-font hide"></i>
											<span class="caption-subject font-blue-madison bold uppercase">Profile
												Account</span>
										</div>
										<ul class="nav nav-tabs">
											<li class="active">
												<a href="#tab_1_2" data-toggle="tab">Personal Info</a>
											</li>
											<li>
												<a href="#tab_1_3" data-toggle="tab">Change profile</a>
											</li>
										</ul>
									</div>
									<div class="portlet-body">
										<div class="tab-content">
											<!-- PERSONAL INFO TAB -->
											<div class="tab-pane active " id="tab_1_2">
												<form action="/dashboard/update_profile" method="POST">
													<div class="form-group">
														<label class="control-label"> Name</label>
														<input type="text" value="{{pic.user_name}}" name="name"
															class="form-control" />
													</div>
													<div class="form-group">
														<label class="control-label">Email</label>
														<input type="text" value="{{pic.email}}" name="email"
															class="form-control" />
													</div>
													<div class="form-group">
														<label class="control-label">Mobile Number</label>
														<input type="text" value="{{pic.phone_no}}" name="phone"
															class="form-control" />
													</div>
													<div class="margiv-top-10">
														<input type="submit" value="update" class="btn btn-primary">
														<a href="javascript:;" class="btn default">
															Cancel </a>
													</div>
												</form>
											</div>
											<!-- END PERSONAL INFO TAB -->
											<!-- CHANGE AVATAR TAB -->
											<div class="tab-pane " id="tab_1_3">
												<form action="/dashboard/profile" method="POST">
													<div class="form-group">
														<div class="fileinput fileinput-new" data-provides="fileinput">
															<div class="fileinput-new thumbnail"
																style="width: 200px; height: 150px;">
																<img src="" id="profile-img-tag" alt=""
																	class="img-circle" />
																<!-- <img src="" id="profile-img-tag" width="200px" /> -->

															</div>
															<div class="fileinput-preview fileinput-exists thumbnail"
																style="max-width: 200px; max-height: 150px;">
															</div>
															<div>
																<span class="btn default btn-file">
																	<input type="file" name="image" accept="image/*"
																		id="profile-img" />

																</span>
																<input type="hidden" name="url" id="database" value="">
																<a href="javascript:;"
																	class="btn default fileinput-exists"
																	data-dismiss="fileinput" id="remove">
																	Remove </a>
															</div>
														</div>

													</div>
													<div class="margin-top-10">
														<input type="submit" value="update" class="btn btn-primary"
															id="submit_button">
														<!-- <button type="btn btn-primary" id="uploadbutton"
															onclick="uploadfile()">upload</button> -->
														<!-- <input type="submit" value="submit"> -->
														<a href="javascript:;" class="btn default">
															Cancel </a>
													</div>
												</form>
											</div>


										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END PROFILE CONTENT -->
				</div>
			</div>
			<!-- END PAGE CONTENT-->
		</div>
		<!-- </div> -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	{% endblock  %}
	{% block js %}
	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-storage.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
	<script src="/javascripts/firebase_config.js"></script>
	<script src="/javascripts/firebase_auth.js"></script>
	<script>
		document.getElementById('submit_button').style.visibility = 'hidden';
		document.getElementById('remove').style.visibility = 'hidden';
		userlogin("{{pic.email}}", "anmol@12");
		firebase.auth().onAuthStateChanged( (user)=> {
			if (user) {
				var metadata = { contentType: 'image/jpeg' };
				var file = document.getElementById('profile-img');
				file.addEventListener('change',  (e)=> {
					file = e.target.files[0];
					console.log("------------" + file.type);
					var storageRef = firebase.storage().ref('/profile/' + file.name);
					console.log(storageRef)
					var mountainsRef = storageRef.child(Date.now() + file.name);
					var uploadTask = mountainsRef.put(file, metadata);
					console.log(uploadTask)
					uploadTask.on('state_changed',  (snapshot)=> {

					},  (error) =>{
						console.log(error);
					},  ()=> {
						// Handle successful uploads on complete
						uploadTask.snapshot.ref.getDownloadURL().then( (downloadURL) =>{
							console.log('File available at', downloadURL);
							$('#profile-img-tag').attr('src', downloadURL);
							document.getElementById('database').value = downloadURL;
							document.getElementById('submit_button').style.visibility = 'visible';
							document.getElementById('remove').style.visibility = 'visible';
							remove.addEventListener('click',  () => {
								// Create a reference to the file to delete
								var desertRef = firebase.storage().refFromURL(downloadURL)

								// Delete the file
								desertRef.delete().then( ()=> {
								console.log("user deleted")
								document.getElementById('submit_button').style.visibility = 'hidden';
								document.getElementById('remove').style.visibility = 'hidden';
								$('#profile-img-tag').attr('src', 'null');
								file.value='';
								}).catch( (error)=> {
									console.log(error);
								});
							});
						});
					});
					
				});
			} else {
				console.log("user not login")
			}
		});


	//}
	</script>
	{% endblock  %}
</body>
<!-- END BODY -->

</html>