<html>
{% extends 'layout.html' %}
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
{% block css %}{% endblock  %}

<body>
    {% block content %}
    <div class="portlet box red" style="margin-top: 21px">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user-plus"></i> user role
                </div>
            </div>
            <div class="portlet-body form">
                    <form action="/dashboard/password" method="POST" id="myform">
                    <div class="form-body">
                        <div class="form-group">
                            <label>ENTER OLD PASSWORD</label>
                            <input type="password" name="old_pasword" id="old_pasword" placeholder="OLD PASSWORD"
                            class="form-control input-lg">                    </div>
                        <div class="form-group ">
                            <label>ENTER NEW_PASSWORD</label>
                            <input type="password" name="new_pasword" id="new_pasword" placeholder="NEW PASSWORD"
                            class="form-control input-lg">
                        </div>
                        <div class="form-group ">
                                <label>RE-ENTER NEW_PASSWORD</label>
                                <input type="password" name="re_pasword" id="re_pasword" placeholder="RETYPE PASSWORD"
                                class="form-control input-lg">
                            </div>
                    </div>
                    <div class="form-actions right">
                            <input type="submit" value="set" class="btn red" id="button">
                    </div>
                </form>
            </div>
        </div>
               
        
    {% endblock  %}
    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script>
        $("#myform").validate({
            rules: {
                old_pasword:{
                    required:true
                },
                new_pasword: "required",
                re_pasword: {
                    equalTo: "#new_pasword"
                }
            }
            });
    </script>
    {% endblock  %}
</body>

</html>
