<html>
{% extends 'layout.html' %}

<head>
    {% block css %}
    <style>
        #chat {
            height: 263px;
            width: 871px;
        }

        #contentWrap {
            display: none;
            margin-top: 21px;
        }

        #chatWrap {
            float: left;
            border: 1px #000 solid;
        }
    </style>
    {% endblock  %}
</head>

<body>
    {% block content %}
    <div class="portlet box red" style="margin-top: 22px;height: 35%;">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>chat with your friend<p>for private message write /w username and your message</p>
            </div>
        </div>
        <div class="portlet-body form">
            <div class="row">
                <div class="col-md-12">
                    <div id="niceWrap">
                        <p id="niceError"></p>
                        <form class="form-horizontal" id="setNick">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">enter a user name</label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control input-circle" id="nickname" name="nickname"
                                            placeholder="enter name">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <input type="submit" class="btn btn-circle blue" value="submit">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="contentWrap">
                        <div id="chatWrap">
                            <div id="chat"></div>
                            <form class="form-horizontal" id="send-message">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">enter the message</label>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control input-circle" id="message"
                                                placeholder="enter name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <input type="submit" class="btn btn-circle blue" value="submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="users"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock  %}
    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/form.js"></script>
    <script src="/socket.io/socket.io.js/"></script>
    <script>
        $(function () {
            var socket = io.connect();
            let nickForm = $("#setNick");
            let nickError = $('#niceError')
            let nickbox = $('#nickname')
            let users = $('#users');
            let messageBox = $('#message')
            let messgefrom = $('#send-message')
            let chat = $('#chat');
            nickForm.submit((e) => {
                console.log("hello sir")
                e.preventDefault()
                socket.emit('new_user', nickbox.val(), (data) => {
                    if (data) {
                        $("#niceWrap").hide();
                        $('#contentWrap').show();
                    } else {
                        nickError.html('that user name is already taken')
                    }
                });
                nickbox.val('');
            });
            socket.on('user_name', (data) => {
                var html = '';
                for (i = 0; i < data.length; i++) {
                    html += data[i] + '</br>'
                }
                users.html(html);
            });
            messgefrom.submit((e) => {
                e.preventDefault()
                socket.emit('send_message', messageBox.val(), (data) => {
                    chat.append('<span class="msg"><b>' + data + ":</b></spna><br/>")
                });
                messageBox.val('');
            });
            socket.on('new_message', (data) => {
                chat.append('<span class="msg"><b>' + data.nick + ':</b>' + data.msg + "</spna><br/>")
            });
            socket.on('whisper', (data) => {
                chat.append('<span class="name"><b>' + data.nick + ':</b>' + data.msg + "</spna><br/>")
            });
        })
        
    </script>
    {% endblock  %}
</body>

</html>
