<html>
  
      {% extends '/var/www/html/express/taskmangment/views/layout.html' %}
    <body>
            {% block content %}
            <div class="row">
                <div style="margin-top: 20px;">
                        {% include "alert_message.html" %}
                </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison" style="margin-top: 42px;">
                               
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                   {{count}}
                                </div>
                                <div class="desc">
                                      user
                                </div>
                            </div>
                            <a class="more" href="/admin/show_user">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                      
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison" style="margin-top: 42px;">
                               
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                
                                </div>
                                <div class="desc">
                                    connect to your friend
                                </div>
                            </div>
                            <a class="more" href="/admin/socket">
                            View more <i class="m-icon-swapright m-icon-white"></i>
                            </a>
                        </div>
                      
                    </div>
                </div>
                {% endblock  %}
    </body>
</html>
