<div class="page-footer">
        <div class="page-footer-inner">
             2019 &copy;add user by admin .
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>