{% extends 'forgetlayout.html' %} 
{% block content %}

<form class="f-form" action="/forget" id="forgate" method="post">  
			<h3>Forget Password ?</h3>
			<p>
				Enter your e-mail address below to reset your password.
			</p>
			<div class="form-group">
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email"
						name="email" id="email" />
				</div>
			</div>
			<div class="form-actions">
				<button type="button" id="back-btn" class="btn">
					<a  href="/" ><i class="m-icon-swapleft"></a></i>   </button>
				<button type="submit" class="btn blue pull-right">
					Submit <i class="m-icon-swapright m-icon-white"></i>
				</button>
			</div>
		</form>  
{% endblock  %}
