<html>

<head>

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
                type="text/css" />
        <link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
                type="text/css" />
        <link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.css" rel="stylesheet"
                type="text/css" />
        <link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
                type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
        <link href="../../assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet"
                type="text/css" />
        <link href="../../assets/global/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL PLUGIN STYLES -->
        <!-- BEGIN PAGE STYLES -->
        <link href="../../assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
        <!-- END PAGE STYLES -->
        <!-- BEGIN THEME STYLES -->
        <link href="../../assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
        <link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
        <link href="../../assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css"
                id="style_color" />
        <link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/stylesheets/custom.css">
        <!-- END THEME STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="/stylesheets/datepicker.css">
        {% block css %}{% endblock%}
</head>

<body>

        {% include "header.html" %}
        {% include "side-bar.html" %}
        <div class="page-content-wrapper">
                <div class="page-content">

                        {% block content %}

                        {% endblock %}
                </div>
        </div>

        {% include "footer.html" %}

       
        {% block js %}{% endblock %}
        <script src="/javascripts/jquery-3.4.1.min.js"></script>
        <script src="/javascripts/validate.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/ckeditor/ckeditor.js"></script>
        <script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script src="../../assets/global/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
                type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
                type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js"
                type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
       
        <script src="../../assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>

        <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
        <script src="../../assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js"
                type="text/javascript"></script>
        <script src="../../assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
        <script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
        <script src="../../assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
        <script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
        <script src="../../assets/admin/pages/scripts/index.js" type="text/javascript"></script>
        <script src="../../assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
        <script src="/javascripts/bootbox.all.min.js"></script>
        <script src="/javascripts/jquey.js"></script>
        <script src="/javascripts/email_ajax.js"></script>
        <script src="/javascripts/datepicker.js"></script>
     


        <script>
                jQuery(document).ready(function () {
                        Metronic.init(); // init metronic core componets
                        Layout.init(); // init layout
                        QuickSidebar.init(); // init quick sidebar
                        Demo.init(); // init demo features
                        Index.init();
                        Index.initDashboardDaterange();
                        Index.initJQVMAP(); // init index page's custom scripts
                        Index.initCalendar(); // init index page's custom scripts
                        Index.initCharts(); // init index page's custom scripts
                        Index.initChat();
                        Index.initMiniCharts();
                        Tasks.initDashboardWidget();
                });
                setTimeout(function () {
                        $('.alert').fadeOut('fast');
                }, 10000);

                // function readURL(input) {
                //         if (input.files && input.files[0]) {
                //                 var reader = new FileReader();

                //                 reader.onload = function (e) {
                //                         $('#profile-img-tag').attr('src', e.target.result);
                //                 }
                //                 reader.readAsDataURL(input.files[0]);
                //         }
                // }
                // $("#profile-img").change(function () {
                //         readURL(this);
                // });
                $("#start-date").datetimepicker({
          minDate:0,
          onSelectDate:function(date){          
            $("#end-date").datetimepicker('setOptions',{"minDate":new Date(date)})  
            }
         });
          $("#end-date").datetimepicker({
            minDate:0,
             onSelectDate:function(date){
              
            $("#start-date").datetimepicker('setOptions',{"maxDate":new Date(date)})  
            }
        });




        </script>


</body>

</html>