{% extends 'sing_in.html' %} 
{% block content %}

<form class="loform" id="passform" action="/authenticate" method="post">
			<h3 class="form-title">Login to your account</h3>
			
			{% include "alert_message.html" %}
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<span>
					Enter username and password. </span>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">Username</label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input class="form-control placeholder-no-fix" type="text" name="name"  value="{{data.email}}" readonly  />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">Password</label>
				<div class="input-icon">
					<i class="fa fa-lock"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off"
						placeholder="Password" name="password" id="password" />
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn blue pull-right">
					Login <i class="m-icon-swapright m-icon-white"></i>
				</button>
			</div>


			<div class="create-account">
					<p>
					forgate password?&nbsp; <a href="/forgetpassword" id="forget-password">
						click here </a>
				</p>
			</div>
		</form>
{% endblock  %}
