<html>
{% extends 'forgetlayout.html' %}
{% block css %}{% endblock  %}

<body>
    {% block content %}
    <!-- <div class="portlet box red" style="margin-top: 21px">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user-plus"></i> RESET PASSWORD
                </div>
            </div>
            <div class="portlet-body form">
                    <form action="/reset_pasword" method="POST" id="myform">
                    <div class="form-body">
                        <div class="form-group">
                            <label>ENTER NEW PASSWORD</label>
                            <input type="text" name="reset_pasword" id="reset_pasword" placeholder="NEW PASSWORD"
                            class="form-control input-lg">                 
                          </div>
                    </div>
                    <div class="form-actions right">
                            <input type="submit" value="set" class="btn red" id="button">
                    </div>
                </form>
            </div>
        </div> -->
        <form action="/reset_pasword" method="POST" id="myform">
            <h3 class="form-title">RESET YOUR NEW PASSWORD</h3>
            
            {% include "alert_message.html" %}
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    Enter you new password </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">password</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input type="text" name="reset_pasword" id="reset_pasword" placeholder="NEW PASSWORD"
                    class="form-control input-lg">        
                </div>
            </div>
            <div class="form-actions">
                <input type="submit" value="set" class="btn red" id="button">
        
            </div>
        </form>
        {% endblock  %}
    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/validate.js"></script>
    <script>
        $("#myform").validate({
            rules: {
                reset_pasword: {
                    required: true
                }
            },
            messages:{
                reset_pasword:"please enter new password"
            }
            })
    </script>
    {% endblock  %}
</body>

</html>
