<div class="page-sidebar-wrapper">
	<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
	<!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
	<div class="page-sidebar navbar-collapse collapse">
		<!-- BEGIN SIDEBAR MENU -->
		<!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
		<!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
		<!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
		<!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
		<!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
		<!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
		<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
			<!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
			<li class="sidebar-toggler-wrapper">
				<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
				<div class="sidebar-toggler">
				</div>
				<!-- END SIDEBAR TOGGLER BUTTON -->
			</li>
			<!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
			<li class="sidebar-search-wrapper">
				<!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
				<!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
				<!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
				<form class="sidebar-search " method="POST">
					<!-- <a href="javascript:;" class="remove">
						<i class="icon-close"></i>
					</a>
					<div class="input-group">
						<input type="text" class="form-control" placeholder="Search...">
						<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
						</span>
					</div> -->
				</form>
				<!-- END RESPONSIVE QUICK SEARCH FORM -->
				<div id="myDIV">
			</li>
			<li {% if active=="dashboard" %} class="active" {% endif %}>
				<a href="/dashboard">
					<i class="fa fa-dashboard" aria-hidden="true"></i>
					Dashboard</a>
			</li>
			{% if pic.role=="Admin"%}

			<li {% if active=="user_role" %} class="active" {% endif %}>
				<a href="/admin/user_role">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
					Users roles</a>
			</li>
			<li {% if active=="employee" %} class="active" {% endif %}>
				<a href="/admin/show_user">
					<i class="fa fa-user" aria-hidden="true"></i>
					show user</a>
			</li>
			<li {% if active=="email_template" %} class="active" {% endif %}>
				<a href="/email_template">
					<i class="fa fa-envelope-o" aria-hidden="true"></i>
					email_template</a>
			</li>
			<li {% if active=="socket_chat" %} class="active" {% endif %}>
				<a href="/admin/socket">
					<i class="fa fa-comments-o" aria-hidden="true"></i>
					connect with user</a>
			</li>
			<li {% if active=="add_task" %} class="active" {% endif %}>
				<a href="/user">
					<i class="fa fa-tasks" aria-hidden="true"></i>
					add task</a>
			</li>
			{% elseif pic.role=="hr"%}

			<li {% if active=="user_role" %} class="active" {% endif %}>
				<a href="/admin/user_role">
					<i class="fa fa-user-plus" aria-hidden="true"></i>
					Users roles</a>
			</li>
			<li {% if active=="employee" %} class="active" {% endif %}>
				<a href="/admin/show_user">
					<i class="fa fa-user" aria-hidden="true"></i>
					show user</a>
			</li>

			<li {% if active=="socket_chat" %} class="active" {% endif %}>
				<a href="/admin/socket">
					<i class="fa fa-comments-o" aria-hidden="true"></i>
					connect with user</a>
			</li>
			{% else%}


			<li {% if active=="employee" %} class="active" {% endif %}>
				<a href="/admin/show_user">
					<i class="fa fa-user" aria-hidden="true"></i>
					show user</a>
			</li>
			<li {% if active=="socket_chat" %} class="active" {% endif %}>
				<a href="/admin/socket">
					<i class="fa fa-comments-o" aria-hidden="true"></i>
					connect with user</a>
			</li>
			<li {% if active=="add_task" %} class="active" {% endif %}>
				<a href="/user">
					<i class="fa fa-tasks" aria-hidden="true"></i>
					add task</a>
			</li>

			{% endif %}
		</ul>
	</div>
	<!-- END SIDEBAR MENU -->
</div>
</div>