<!DOCTYPE html>

<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
	<meta charset="utf-8" />
	<title>task mangment system</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta content="" name="description" />
	<meta content="" name="author" />
	<!-- BEGIN GLOBAL MANDATORY STYLES -->
	<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
		type="text/css" /> -->
		
	<link href="../../assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="../../assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
		type="text/css" />
	<link href="../../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="../../assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES -->
	<link href="../../assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css" />
	<link href="../../assets/admin/pages/css/login-soft.css" rel="stylesheet" type="text/css" />
	<!-- END PAGE LEVEL SCRIPTS -->
	<!-- BEGIN THEME STYLES -->
	<link href="../../assets/global/css/components-rounded.css" id="style_components" rel="stylesheet"
		type="text/css" />
	<link href="../../assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
	<link href="../../assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
	<link id="style_color" href="../../assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" />
	<link href="../../assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/stylesheets/custom.css">
	<!-- END THEME STYLES -->
	<link rel="shortcut icon" href="favicon.ico" />
	{% block css %}{% endblock  %}
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->

<body class="login">

	<!-- BEGIN LOGO -->
	<div class="logo">
		<!-- <img src="../../assets/admin/layout3/img/logo-big.png" alt=""/> -->
		<b>
			<h1 style="color: #fff;font-weight: 400;letter-spacing: 2px;">LOGIN FORM</h1>
		</b>
	</div>

	<!-- END LOGO -->
	<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
	<div class="menu-toggler sidebar-toggler">
	</div>
	<!-- END SIDEBAR TOGGLER BUTTON -->
	<!-- BEGIN LOGIN -->
	<div class="content">

		{% block content %}

		{% endblock %}
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		2020 &copy; taskmangment system.
	</div>
	<!-- END COPYRIGHT -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<!--[if lt IE 9]>
<script src="../../assets/global/plugins/respond.min.js"></script>
<script src="../../assets/global/plugins/excanvas.min.js"></script> 
<![endif]-->
{% block js %}
{% endblock %}
	<script src="../../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
	<script src="../../assets/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
	<script src="../../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="../../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
	<script src="../../assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
	<script src="../../assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="../../assets/global/plugins/jquery-validation/js/jquery.validate.min.js"
		type="text/javascript"></script>
	<script src="../../assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="../../assets/global/plugins/select2/select2.min.js"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="../../assets/global/scripts/metronic.js" type="text/javascript"></script>
	<script src="../../assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
	<script src="../../assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
	<script src="../../assets/admin/pages/scripts/login-soft.js" type="text/javascript"></script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
		setTimeout(function () {
			$('.alert').fadeOut('slow');
		}, 10000);
		jQuery(document).ready(function () {
			Metronic.init(); // init metronic core components
			Layout.init(); // init current layout
			Login.init();
			Demo.init();
			// init background slide images
			$.backstretch([
				"../../assets/admin/pages/media/bg/1.jpg",
				"../../assets/admin/pages/media/bg/2.jpg",
				"../../assets/admin/pages/media/bg/3.jpg",
				"../../assets/admin/pages/media/bg/4.jpg"
			], {
				fade: 1000,
				duration: 8000
			}
			);
			$("#myform").validate({
				rules: {
					name: {
						required: {
							depends: function () {
								$(this).val($.trim($(this).val()));
								return true;
							}
						},
						email: true
					}
				},
				messages: {
					name: {
						required: 'please enter your email',
						email: 'please enter your proper email'
					}
				}
			});
			$("#passform").validate({
				rules: {
					password: {
						required: true,
						minlength: 3,
						maxlength: 10
					}
				},
				messages: {
					password: {
						required: 'please enter the password',
						minlength: 'please enter minimum 3 words',
						maxlength: 'please not enter maximum 10 words'
					}
				}
			});
			$("#forgate").validate({
				rules: {
					email: {
						required: {
							depends: function () {
								$(this).val($.trim($(this).val()));
								return true;
							}
						},
						email: true
					}
				},
				messages: {
					email: {
						required: 'please enter your email',
						email: 'please enter your proper email'
					}
				}
			});


		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->

</html>