

<html>
    {% extends '/var/www/html/express/taskmangment/views/layout.html' %}
    
    {% block css %}
    <style>
        .error {
            color: red;
        }
    </style>
    {% endblock  %}
    
    <body>
    
    
        {% block content %}
       
        <div class="portlet box blue" style="margin-top: 22px;height: 55%;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tasks"></i>edit user tsak
                </div>
            </div>
            <div class="portlet-body form">
                <form action="/user/task_edit/{{data.id}}" method="POST" class="form-horizontal form-bordered" id="taskform">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="control-label col-md-3"><b>project_name</b> </label>
                            <div class="col-md-6">
                                <input type="text" name="project_name" value="{{data.project_name}}" id="project_name" placeholder="project_name"
                                    class="form-control">
                                <span class="help-block">
                                </span>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label class="control-label col-md-3"><b>project_head</b></label>
                            <div class="col-md-6">
                                <input type="text" name="project_head" value="{{data.project_head}}" id="project_head" placeholder="project_head"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"><b>project_starting_time</b></label>
                            <div class="col-md-6">
                                <input type="text" name="project_start_date" value="{{data.project_start_date}}" id="start-date" class="form-control ">
    
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"><b>project_end_time</b></label>
                            <div class="col-md-6">
                                <input type="text" name="project_end_date" value="{{data.project_end_date}}" id="end-date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3"><b></b></label>
                            <div class="col-md-6">
                                <input type="submit" value="SUBMIT" class="btn btn-primary" id="button">
                            </div>
                        </div>
    
                    </div>
    
                </form>
            </div>
        </div>
        </div>
        {% endblock  %}
    
        {% block js %}
        <script src="/javascripts/jquery-3.4.1.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/validate.js"></script>
        <script src="/javascripts/form.js"></script>
       
        {% endblock  %}
    </body>
    
    </html>