<!DOCTYPE html>
<html>
{% extends '/var/www/html/express/taskmangment/views/layout.html' %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {% block content %}
   
  <div id="add_role">
    <a href="/user/addtask"  class="btn red add-new">+Add </a>
</div>
   
    <div class="portlet box red" id="partial_box">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-envelope-square"></i>add task
            </div>
        </div>
        <div class="portlet-body">
                {% include "/var/www/html/express/taskmangment/views/alert_message.html"%}
            <div id="show_table">
                <table class="table table-hover" id="mytable">
                    <thead>
                        <tr>
                            <th>Sr.no</th>
                            <th>project_name</th>
                            <th>project_head</th>
                            <th>starting_date</th>
                            <th>ending_date</th>
                            <th>Actions</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set index=data.sr %}
                        {% for  user_value in data %}
                        <tr>
                            <td>{{index}}</td>
                            <td>{{user_value.project_name}}</td>
                            <td>{{user_value.project_head}}</td>
                            <td>{{user_value.project_start_date|date('Y-m-d')}}</td>
                            <td>{{user_value.project_end_date|date('Y-m-d')}}</td>
                            <td> <a href="/user/task/{{user_value.id}}"
                                    class="btn "><i class="fa fa-edit fa-lg"
                                        aria-hidden="true"></i>'</a>
                                <a href="javascript:;" link="/user/user_del/{{user_value.id}}"
                                    class="task_del " page={{data.current}}><i
                                        class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </td>
                            <td> {% if user_value.status==1 %}
                                <a class="status" href="javascript:;" status=0 link="/user/status/{{user_value.id}}"
                                        page={{data.current}}><i class="fa  fa-circle active" id="ra"
                                                aria-hidden="true"></i>
                                        {% else %}
                                        <a class="status" href="javascript:;" status=1 link="/user/status/{{user_value.id}}"
                                                page={{data.current}}><i class="fa  fa-circle inactive" id="ra1"
                                                        aria-hidden="true"></i>
                                                {% endif %}
                        </td>
                        </tr>
                        {% set index=index+1 %}
                        {% endfor %}
                    </tbody>
                </table>
                {%include "/var/www/html/express/taskmangment/views/paginate.html"%}
              
            </div>
        </div>
    </div>
    {% endblock  %}


    {% block js %}
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/add_task_paginate.js"></script>
    <script>
//         $(document).on('click','.status', function () {
//     // console.log(this)
//     let pagevalue = $(this).attr('page');
//     let status = $(this).attr('status');
//     console.log(status);
//     let link = $(this).attr('link');
//     var msg = '';
//     if(status == 1)
//     {
//          msg ='Are you sure you want to Active status'
//     }
//     else{
//         msg ='Are you sure you want to Deactive status'
//     }
//     if(confirm(msg)){
//         $.ajax({
//             method: "PUT",
//             url: link,
//             data: {status:parseInt(status)},
//             dataType: 'JSON',
//             success: function (result) {
//                 console.log(result)
//               window.location.href = '/user?pageNo='+pagevalue;
//                  }
//         });   
//     }
//        console.log(status,link)

// });
    </script>
    {% endblock  %}

</body>

</html>