<table class="table table-hover" id="mytable" >
    <thead>
    <tr>
            <th>Sr.no</th>
            <th>NAME</th>
            <th>ROLE</th>
            <th>policy</th>
            <th>email</th>
            <th>Actions</th>
    </tr>
    </thead>
    <tbody>
            {% set index=data.sr %}
            {% for  user_role in data %}
    <tr>
            <td>{{index}}</td>
            <td>{{user_role.user_name}}</td>
            <td>{{user_role.role}}</td>
            <td>{{user_role.myCustomResut[0].policy}}</td>
            <td>{{user_role.email}}</td>
            <td>
                        <a name="view" class="view" link='/admin/view/{{user_role._id|safe}}'><i class="fa fa-eye fa-lg"></i></a>
                
            </td> 
         
         
    </tr>
    {% set index=index+1 %}
        {% endfor %}
    </tbody>
    </table>