#add_role{
    padding-top:5%;
    padding-left: 887px;
}
#partial_box{
    margin-top:3px;
}
#user_role{
    padding-top:5%;
    padding-left: 820px;
}
#add_user{
   padding-top: 5%;
    padding-left: 638px;
}

#user_role_hr{
    margin-top:5%;
}
.button-ho{
    margin-left: 966.5px;
    margin-top: -45px;
    height: 44px;
}
.error{
    color: red;
}
.active{
    color: green;
}
.inactive{
    color: red;
}
.content label{
    color: red;
}
