<table class="table table-hover" id="mytable" >
        <thead>
        <tr>
                <th>Sr.no</th>
                <th>ROLE</th>
                <th>POLICY</th>
                <th>createdAt</th>
                <th>Actions</th>
        </tr>
        </thead>
        <tbody>
                {% set index=data.sr %}
                {% for  user_role in data %}
        <tr>
                <td>{{index}}</td>
                <td>{{user_role.role}}</td>
                <td>{{user_role.policy}}</td>
                <td>{{user_role.created_at|date('Y-m-d')}}</td>
                <td> <a href="/admin/edit_user_role_data/{{user_role.id}}" class="btn btn-circle btn-xs purple"><i class="fa fa-edit fa-2x"
                            aria-hidden="true"></i></a>
                          
                 
                </td> 
        </tr>
        {% set index=index+1 %}
            {% endfor %}
        </tbody>
        </table>