<table class="table table-hover" id="mytable">
                <thead>
                        <tr>
                                <th>Sr.no</th>
                                <th>NAME</th>
                                <th>ROLE</th>
                                <th>policy</th>
                                <th>email</th>
                                <th>Actions</th>
                                <th>status</th>
                        </tr>
                </thead>
                <tbody>
                        {% set index=data.sr %}
                        {% for  user_role in data %}
                        <tr>
                                <td>{{index}}</td>
                                <td>{{user_role.user_name}}</td>
                                <td>{{user_role.role}}</td>
                                <td>{{user_role.myCustomResut[0].policy}}</td>
                                <td>{{user_role.email}}</td>
                                <td> <a href="/admin/edit_user_detailes/{{user_role._id|safe}}"><i class="fa fa-edit fa-lg"
                                                        aria-hidden="true"></i></a>
                                        <a name="view" href="javascript:;" class="view"
                                                link='/admin/view/{{user_role._id|safe}}'><i class="fa fa-eye fa-lg"></i></a>
        
                                </td>
                                <td> {% if user_role.status==1 %}
                                        <a class="status" href="javascript:;" status=0 link="/admin/status/{{user_role._id|safe}}"
                                                page={{data.current}}><i class="fa  fa-circle active" id="ra"
                                                        aria-hidden="true"></i></a>
                                                {% else %}
                                                <a class="status" href="javascript:;" status=1 link="/admin/status/{{user_role._id|safe}}"
                                                        page={{data.current}}><i class="fa  fa-circle inactive" id="ra1"
                                                                aria-hidden="true" ></i></a>
                                                        {% endif %}
                                </td>
        
        
                        </tr>
                        {% set index=index+1 %}
                        {% endfor %}
                </tbody>
        </table>